li {
    background-color: yellow;
    color: darkgreen;
}
p {
    background-color: blueviolet;
}
fieldse {
    background-color: coral;
    margin-bottom: auto;
    margin-right: 100px;
    
}
div {
    background-color: darkgrey;
}